<div *ngIf="weatherInfo">
    <h4>The weather for {{weatherInfo.name | uppercase}} is as follows:</h4>
    <p>The sky is {{weatherInfo.weather[0].description}}</p>
    <ul>Temperature in {{currentTempScale}}
        <li>
            MIN: {{weatherInfo.main.temp_min}}
        </li>
        <li>
            CURRENT: {{weatherInfo.main.temp}}
        </li>
        <li>
            MAX: {{weatherInfo.main.temp_max}}
        </li>
    </ul>
    <p>The windspeed is {{weatherInfo.wind.speed}} miles per hour</p>
    <p>Wind is blowing in the {{windDirectionStr}} direction</p>
    <p>Wind can gust up to {{weatherInfo.wind.gust}} miles per hour</p>
    <label for="ForC">Current temperature scale {{currentTempScale}}</label>
    <button type="button" id="ForC" (click)="changeTempScale()">Change scale</button>
    <!-- Copy for arrow wind direcion ➔ -->
</div>
